* { /* borrowed from https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ */
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
header{
	background: #cee9c7;
}

body{
  font-family: 'Roboto', sans-serif;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*beginning of css used from https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/*/
a {
 text-decoration: none;
}
li {
 list-style: none;
}
/*end of css borrowed*/

/* continuing use of same site; "makeuseof" for nav styling*/

.navbar{
  padding: 20px;
}


.nav_ul{
  display: flex;
  justify-content: space-evenly;
}

/* hides nested links */
ul li ul li{
  display: none;
}

/* displays nested links when hovered over */
ul li:hover ul li{
  display: block;
}

/* keeps nested folder when hovered over moving nav links */
.dropdowns{
  position: absolute;
  padding: .1em 0;
}







