* { /* borrowed from https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ */
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
header{
	background: #cee9c7;
}

body{
  font-family: 'Roboto', sans-serif;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*beginning of css used from https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/*/
a {
 text-decoration: none;
}
li {
 list-style: none;
}
/*end of css borrowed*/

/* continuing use of same site; "makeuseof" for nav styling*/

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.menu{
  display: flex;
  gap: 1em;
}

.about-us-dropdown{
  display: none;
}

/*https://www.sitepoint.com/community/t/how-to-move-elements-on-nav-bar-to-center/285386/3*/
nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}


